language: python
python:
    - "2.7"
    - "3.4"
    - "3.5"
before_install:
    - pip install -U pip setuptools
install:
    - pip install -e .
    - pip install flake8 coverage
script: flake8 check_po && coverage run --source=check_po setup.py -q nosetests
after_success:
  # Report coverage results to coveralls.io
  - pip install coveralls
  - coveralls
